click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1660054669620/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1672612343532/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1674135867894/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1674307362676/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1660053523487/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1669453021653/work
